<sv-nami-overview></sv-nami-overview>

<form [formGroup]="importForm" (ngSubmit)="import()">
  <p-card>
    <ng-template #title>Neu Importieren</ng-template>
    <ng-template #subtitle
      >Importiere Mitglieder aus der NaMi. Bestehende Mitglieder werden
      aktualisiert, neue hinzugefügt, gelöschte entfernt.</ng-template
    >
    <div class="flex flex-column gap-3 w-full md:w-25rem">
      <sv-error-wrapper [control]="importForm.controls.groupId">
        <ng-template #title>
          <label class="font-bold" for="groupId">Gruppierungsnummer</label>
        </ng-template>
        <ng-template #input>
          <input
            pInputText
            id="groupId"
            type="text"
            fluid
            formControlName="groupId"
          />
        </ng-template>
      </sv-error-wrapper>

      <sv-error-wrapper [control]="importForm.controls.memberId">
        <ng-template #title>
          <label class="font-bold" for="memberId">Mitgliedsnummer</label>
        </ng-template>
        <ng-template #input>
          <input
            pInputText
            id="memberId"
            type="text"
            fluid
            formControlName="memberId"
          />
        </ng-template>
      </sv-error-wrapper>

      <sv-error-wrapper [control]="importForm.controls.password">
        <ng-template #title>
          <label class="font-bold" for="password">Passwort</label>
        </ng-template>
        <ng-template #input>
          <input
            pInputText
            id="password"
            type="text"
            fluid
            formControlName="password"
          />
        </ng-template>
      </sv-error-wrapper>
    </div>

    <ng-template #footer>
      <div
        class="w-full flex flex-row align-items-center justify-content-start"
      >
        <p-button label="Importieren" type="submit"></p-button>
      </div>
    </ng-template>
  </p-card>
</form>
