<div class="flex flex-column justify-content-center align-items-center">
  <form
    class="w-full md:w-25rem"
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <p-card>
      <ng-template #title>ScoutVenture</ng-template>
      <ng-template #subtitle>Passwort vergessen</ng-template>
      <ng-template #content>
        @if(forgotPasswordSent) {
        <p>
          Du hast eine E-Mail erhalten, um dein Passwort zurückzusetzen. Bitte
          überprüfe deinen Posteingang.
        </p>
        } @else {
        <div class="flex flex-column gap-3">
          <sv-error-wrapper [control]="forgotPasswordForm.controls.email">
            <ng-template #title>
              <label class="font-bold" for="email">E-Mail</label>
            </ng-template>
            <ng-template #input>
              <input
                pInputText
                id="email"
                type="text"
                fluid
                autocomplete="email"
                inputmode="email"
                formControlName="email"
              />
            </ng-template>
          </sv-error-wrapper>
        </div>
        }
      </ng-template>
      <ng-template #footer>
        <div
          class="w-full flex flex-row align-items-center justify-content-between"
          fluid
        >
          @if(forgotPasswordSent) {
          <p-button
            label="Zurückk zur Anmeldung"
            routerLink="/auth/login"
          ></p-button>
          } @else {
          <p-button label="Zurücksetzen" type="submit"></p-button>
          <a class="primary-link" routerLink="/auth/login"
            >Zurück zur Anmeldung</a
          >
          }
        </div>
      </ng-template>
    </p-card>
  </form>
  <div class="flex gap-4 mt-1">
    <a class="secondary-link" routerLink="/imprint">Impressum</a>
    <a class="secondary-link" routerLink="/privacy-policy"> Datenschutz </a>
  </div>
</div>
