<div class="flex flex-column justify-content-center align-items-center">
  <form
    class="w-full md:w-25rem"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <p-card>
      <ng-template #title>ScoutVenture</ng-template>
      <ng-template #subtitle>
        @if(resetPasswordFinished){ Passwort erfolgreich geändert } @else {
        Passwort ändern für
        {{ email }} }
      </ng-template>
      <ng-template #content>
        @if (resetCodeInvalid) {
        <p style="color: var(--p-red-500)">
          Der Link ist abgelaufen. Bitte fordere einen neuen Link an.
        </p>
        } @else { @if(resetPasswordFinished) {
        <p>
          Dein Passwort wurde erfolgreich zurückgesetzt. Du kannst dich jetzt
          anmelden.
        </p>
        } @else {
        <div class="flex flex-column gap-3">
          <sv-error-wrapper [control]="resetPasswordForm.controls.newPassword">
            <ng-template #title>
              <label class="font-bold" for="newPassword">Passwort</label>
            </ng-template>

            <ng-template #input>
              <p-password
                inputId="newPassword"
                fluid
                feedback="false"
                toggleMask="true"
                autocomplete="new-password"
                inputmode="text"
                formControlName="newPassword"
                promptLabel="Passwort eingeben"
              >
              </p-password>
            </ng-template>
          </sv-error-wrapper>

          <sv-error-wrapper
            [control]="resetPasswordForm.controls.confirmPassword"
          >
            <ng-template #title>
              <label class="font-bold" for="confirmPassword"
                >Passwort wiederholen</label
              >
            </ng-template>

            <ng-template #input>
              <p-password
                inputId="confirmPassword"
                fluid
                feedback="true"
                toggleMask="true"
                autocomplete="new-password"
                inputmode="text"
                formControlName="confirmPassword"
                promptLabel="Passwort wiederholen"
                feedback="false"
              />
            </ng-template>
          </sv-error-wrapper>
        </div>
        } }
      </ng-template>
      <ng-template #footer>
        <div
          class="w-full flex flex-row align-items-center justify-content-between"
          fluid
        >
          @if (resetCodeInvalid){
          <p-button
            label="Neuen Link anfordern"
            routerLink="/auth/forgotPassword"
          ></p-button>
          } @else { @if(resetPasswordFinished){
          <p-button
            label="Zurück zum Login"
            routerLink="/auth/login"
          ></p-button>
          } @else {
          <p-button label="Passwort ändern" type="submit"></p-button>
          } }
        </div>
      </ng-template>
    </p-card>
  </form>
  <div class="flex gap-4 mt-1">
    <a class="secondary-link" routerLink="/public/imprint">Impressum</a>
    <a class="secondary-link" routerLink="/public/privacy-policy">
      Datenschutz
    </a>
  </div>
</div>
