<div class="flex flex-column justify-content-center align-items-center">
  <form
    class="w-full md:w-25rem"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <p-card>
      <ng-template #title>ScoutVenture</ng-template>
      <ng-template #subtitle>Neues Konto erstellen</ng-template>
      <ng-template #content>
        <div class="flex flex-column gap-3">
          <sv-error-wrapper [control]="registerForm.controls.email">
            <ng-template #title>
              <label class="font-bold" for="username">E-Mail</label>
            </ng-template>
            <ng-template #input>
              <input
                pInputText
                id="username"
                type="text"
                fluid
                autocomplete="email"
                inputmode="email"
                formControlName="email"
              />
            </ng-template>
          </sv-error-wrapper>

          <sv-error-wrapper [control]="registerForm.controls.password">
            <ng-template #title>
              <label class="font-bold" for="password">Passwort</label>
            </ng-template>

            <ng-template #input>
              <p-password
                inputId="password"
                fluid
                feedback="false"
                toggleMask="true"
                autocomplete="new-password"
                inputmode="text"
                formControlName="password"
                promptLabel="Passwort eingeben"
              >
              </p-password>
            </ng-template>
          </sv-error-wrapper>

          <sv-error-wrapper [control]="registerForm.controls.confirmPassword">
            <ng-template #title>
              <label class="font-bold" for="repeat-password"
                >Passwort wiederholen</label
              >
            </ng-template>

            <ng-template #input>
              <p-password
                inputId=""
                fluid
                feedback="true"
                toggleMask="true"
                autocomplete="new-password"
                inputmode="text"
                formControlName="confirmPassword"
                promptLabel="Passwort wiederholen"
                feedback="false"
              />
            </ng-template>
          </sv-error-wrapper>
        </div>
      </ng-template>
      <ng-template #footer>
        <div
          class="w-full flex flex-row align-items-center justify-content-between"
          fluid
        >
          <p-button label="Konto erstellen" type="submit"></p-button
          ><a class="primary-link" routerLink="/auth/login">
            Du hast schon ein Konto?
          </a>
        </div>
      </ng-template>
    </p-card>
  </form>
  <div class="flex gap-4 mt-1">
    <a class="secondary-link" routerLink="/imprint">Impressum</a>
    <a class="secondary-link" routerLink="/privacy-policy"> Datenschutz </a>
  </div>
</div>
